<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnczrt9tM2Izx709omjCmEF_TAmQtoJOM</string>
	<key>GCM_SENDER_ID</key>
	<string>206187573588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iotappver2</string>
	<key>PROJECT_ID</key>
	<string>iotapp-fb613</string>
	<key>STORAGE_BUCKET</key>
	<string>iotapp-fb613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206187573588:ios:f3eaa41f9f420a33e7d8c1</string>
	<key>DATABASE_URL</key>
	<string>https://iotapp-fb613-default-rtdb.firebaseio.com</string>
</dict>
</plist>